<div class="location-card">
  <mat-card class="example-card">
    <mat-card-header>
      <!--      <div class="example-header-image" mat-card-avatar></div>-->
      <mat-card-title class="card-name">{{name}}</mat-card-title>
      <mat-card-subtitle class="mb-2 country">{{country}}</mat-card-subtitle>
    </mat-card-header>
    <img alt="{{name}} photo" mat-card-image
         src="{{photoPath}}"
         style="max-width: 98%; margin-left: 1%; height: 250px;">
    <div class="mt-2 ms-4 mb-1 aligned">
      <div class="row">
        <div class="col icon me-1">
          <mat-icon>local_offer</mat-icon>
        </div>
        <div class="col tags">
          {{tags}}
        </div>
      </div>
    </div>
    <!--    <mat-card-actions>-->
    <!--      <button mat-button>LIKE</button>-->
    <!--      <button mat-button>SHARE</button>-->
    <!--    </mat-card-actions>-->
  </mat-card>
</div>
