<div class="location-card">
  <mat-card class="example-card">
    <mat-card-header>
      <!--      <div class="example-header-image" mat-card-avatar></div>-->
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle class="mb-2">{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img alt="{{title}} photo" mat-card-image
         src="https://images.adsttc.com/media/images/5d44/14fa/284d/d1fd/3a00/003d/large_jpg/eiffel-tower-in-paris-151-medium.jpg?1564742900"
         style="width: 98%; margin-left: 1%; height: auto">
    <mat-card-content class="mt-2">
      <p>
        {{information}}
      </p>
    </mat-card-content>
    <!--    <mat-card-actions>-->
    <!--      <button mat-button>LIKE</button>-->
    <!--      <button mat-button>SHARE</button>-->
    <!--    </mat-card-actions>-->
  </mat-card>
</div>
