<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Lorem Ipsum title</mat-card-title>
      <mat-card-subtitle>Lorem Ipsum subtitle</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image
         src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris.
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>-->
    <!--    <button mat-button>LIKE</button>-->
    <!--    <button mat-button>SHARE</button>-->
    <!--  </mat-card-actions>-->
  </mat-card>
</div>
