<p>
  <mat-toolbar class="toolbar mat-elevation-z8">
    <img width=4% alt="Packing plans Logo" src="./../../assets/images/logo.png"/>
    <span class="logoName">PackingPlans</span>
    <a mat-button class="mat-button" style="margin-right: 1%">Locations</a>
    <a mat-button class="mat-button">How It Works</a>
    <span class="spacer"></span>
    <a mat-button class="mat-button"><mat-icon class="icon-display" [ngStyle]="{'color':'white'}">perm_identity</mat-icon>
      Log in
    </a>
  </mat-toolbar>
</p>
