<div class="home-page">
  <section class="about_section layout_padding">
    <div class="container">
      <div class="detail-box">
        <div class="heading_container">
          <img src="/assets/images/luggage.png" alt="luggage image">
          <h1 style="font-family: 'Madera Regular'">
            About Us
          </h1>
        </div>
        <p>
          Welcome to our trip planning website! We are here to transform the way you plan and experience your trips,
          making it easier and more enjoyable than ever before.
        </p>
        <div class="btn-box">
          <a href="">
            <span>
              Why Packing Plans?
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="benefits_section layout_padding" id="benefits">
    <div class="container">
      <div class="benefit_container">
        <div class="box b1">
          <div class="img-box">
            <mat-icon> local_airport</mat-icon>
          </div>
          <div class="detail-box">
            <h2>
              Trip Organization
            </h2>
            <p>
              Our calendar feature empowers you to effortlessly plan and manage your trips. You can easily schedule
              activities,
              and keep track of all your travel plans in one place.
            </p>
          </div>
        </div>
        <div class="box b2">
          <div class="img-box">
            <mat-icon> place</mat-icon>
          </div>
          <div class="detail-box">
            <h2>
              Personalized Itineraries
            </h2>
            <p>
              We understand that every traveler is unique, which is why we provide a highly customizable experience.
              Tailor your itinerary to suit your preferences by adding destinations, dates, and specific activities.
              Make your trip truly yours!
            </p>
          </div>
        </div>
        <div class="box b1">
          <div class="img-box">
            <mat-icon>edit</mat-icon>
          </div>
          <div class="detail-box">
            <h2>
              Flexible Customization
            </h2>
            <p>
              We understand that plans can change, and our easily editable trips site empowers you to adapt to those
              changes.
              You can add or remove activities, adjust durations, update locations, and customize various aspects of
              your
              trip with flexibility and ease.
            </p>
          </div>
        </div>
        <div class="box b2">
          <div class="img-box">
            <mat-icon>public</mat-icon>
          </div>
          <div class="detail-box">
            <h2>
              Seamlessly Collaborate
            </h2>
            <p>
              Planning a trip with friends or family?
              Our collaborative features make it easy to coordinate and share your travel plans.
              Invite others to join your trip, assign tasks, and collaborate in real-time, ensuring everyone stays on
              the same page.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="steps_section" id="how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/assets/images/step1.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h1>
                Step 1: Choose your Destination
              </h1>
            </div>
            <p>
              Our website offers a list of the most popular travel destinations from around the world.
              You can browse through these locations and get inspired by the possibilities for your next trip.
              To narrow down the list of locations and find the perfect match for your interests,
              you can select specific tags that represent the types of experiences you desire.
              For example, if you're a beach lover, you can choose the "beach" tag to see destinations renowned for
              their stunning coastlines.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="steps_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h1>
                Step 2: Select the Time
              </h1>
            </div>
            <p>
              If you know where, then all you need to worry for now is when. After you picked the location from our wide
              selection of destinations, you need to choose the time interval when you want to travel next. You can make
              your
              vacation as long as you want, but make sure to specify both start date and end date of it.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/assets/images/step2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="steps_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/assets/images/step3.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h1>
                Step 3: Customize your trip
              </h1>
            </div>
            <p>
              Once the location and time frame are set, you can embark on a truly personalized journey by adding
              custom activities. Our website empowers you to create
              a one-of-a-kind itinerary by incorporating activities that reflect your interests, preferences, and
              desired experiences.
              Make sure you have everything planed: add the time, name and maybe a short description for all your
              activities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="steps_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h1>
                Step 4: Check your calendar
              </h1>
            </div>
            <p>
              Once you are satisfied with your trip plan, you can save it on the website.
              Saving the trip stores all the chosen locations, time frame, and activities in your user profile.
              The website provides a visual representation of your trip itinerary,
              with each day displaying the scheduled activities. You can easily navigate
              through the calendar, view specific days, and make any necessary edits or adjustments.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/assets/images/step4.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="packing_plans_section">
    <div class="container">
      <div class="heading_container">
        <img src="/assets/images/logo.png" alt="logo" (click)="scrollToNavbar()" class="logo-image">
        <h2 style="font-family: 'Madera W01 Bold'">
          Packing Plans
        </h2>
        <p>
          No more struggling with Word docs, spreadsheets and Google Maps to plan a trip!
        </p>
      </div>
    </div>
  </section>
</div>
