.home-page {
  font-family: "Madera Regular" !important;
  font-size: 18px;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 150px;
  padding-bottom: 120px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container img {
  max-width: 100px;
}

.heading_container h1 {
  font-weight: bold;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.about_section .detail-box {
  text-align: center;
  width: 80%;
  margin: auto;
}

.about_section .detail-box .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.about_section .detail-box .heading_container h2 {
  color: #222136;
}

.about_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.about_section .detail-box .btn-box {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}

.about_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #222136;
  text-transform: uppercase;
}

.about_section .detail-box .btn-box a img {
  margin-left: 5px;
}

.benefits_section {
  background-image: url(/assets/images/familyTrip.jpg);
  background-size: cover;
  color: #ffffff;
}

.benefits_section .benefit_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.benefits_section .benefit_container .box {
  text-shadow: 2px 2px 5px rgb(34, 33, 54);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 45px 2.5%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.benefits_section .benefit_container .box .img-box {
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.benefits_section .benefit_container .box .img-box img {
  width: 100%;
}

.benefits_section .benefit_container .box .detail-box {
  margin-top: 15px;
}

.benefits_section .benefit_container .box .detail-box h5 {
  font-weight: bold;
}

.benefits_section .benefit_container .box.b1 {
  -webkit-animation: odd-box-animate 4s infinite;
  animation: odd-box-animate 4s infinite;
}

.benefits_section .benefit_container .box.b2 {
  -webkit-animation: even-box-animate 4s infinite;
  animation: even-box-animate 4s infinite;
}

@-webkit-keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
}

@keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
}

@-webkit-keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

@keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

.steps_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.steps_section .img-box {
  position: relative;
  padding-right: 45px;
  padding-left: 45px;
}

.steps_section .img-box img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.steps_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -145px;
  width: 100%;
  height: 110%;
  z-index: 1;
  background-repeat: no-repeat;
}

.steps_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.steps_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.steps_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #222136;
  text-transform: uppercase;
}

.steps_section .detail-box .btn-box a img {
  margin-left: 5px;
}

.packing_plans_section {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #222136;
  height: 15%;
}

.packing_plans_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.logo-image {
  cursor: pointer;
}
