.location-image {
  background-size: cover;
  width: 100%;
  height: 700px;
}

.title {
  margin-left: 6.4%;
  margin-top: 1%;
  font-weight: 400;
}

.descripion {
  margin-left: 5%;
  font-size: x-large;
  padding: 0;
  max-width: 100%;
  line-height: 1.5;
  text-align: justify;
}

.calendar {
  margin-left: 40%;
  width: 100%;
}

.tags {
  background-color: #6e6e6e; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 15px;
  margin-right: 4%;
  float: right;
  /*width: 5%;*/
  height: 50%;
  margin-top: 3%;
}
