<div style="background-color: white">
  <div [ngStyle]="{ 'background-image': 'url(' + location.imageUrl + ')'}" class="row background-image">
    <p class="display-3 title">{{location.name}}</p>
    <div style="margin-left: 6.4%">
      <button *ngFor="let tag of location.tagNames" class="tags" disabled>
        {{tag}}
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-8 description">&nbsp;&nbsp;
      {{location.description}}
    </div>
    <div class="col-sm-2 ">
      <app-date-picker (selectedRangeValueChange)="onSelectedRangeChange($event)"
                       [selectedRangeValue]="selectedDateRange">
      </app-date-picker>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-10">
      <img alt="travel image"
           src="/assets/images/travel_image.png"
           class="travel-image">
    </div>
    <div class="col-sm-2">
      <button
        [routerLink]="isDatesValid() && isLoggedIn ? getRouterLink() : null"
        (click)="planButtonPressed = true"
        class="trip-button">
        Plan trip here!
      </button>
      <div *ngIf="!isDatesValid() && planButtonPressed" class="row alert alert-danger error" role="alert">
        Please Select both start and end data
      </div>
      <div *ngIf="!isLoggedIn && planButtonPressed" class="row alert alert-danger error" role="alert">
        You have to log in to access this resource
      </div>
  </div>
  <div class="line"></div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 mt-5 mb-5">
      <agm-map [latitude]="Number(location.latitude)" [longitude]="Number(location.longitude)" [styles]="styles"
               [zoom]="10" style="box-shadow: 2px 2px 20px rgb(34, 33, 54);">
        <agm-marker [latitude]="Number(location.latitude)" [longitude]="Number(location.longitude)"></agm-marker>
      </agm-map>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
