<div style="background-color: white">
  <div [ngStyle]="{ 'background-image': 'url(' + location.imageUrl + ')'}" class="row background-image">
    <p class="display-3 title">{{location.name}}</p>
    <div style="margin-left: 6.4%">
      <button *ngFor="let tag of location.tagNames" class="tags" disabled>
        {{tag}}
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-8 descripion">&nbsp;&nbsp;
      {{location.description}}
    </div>
    <div class="col-sm-2 ">
      <app-date-picker (selectedRangeValueChange)="onSelectedRangeChange($event)"
                       [selectedRangeValue]="selectedDateRange"
                       class="calendar"></app-date-picker>
      <button (click)="newTrip()" class="trip-button">Plan Trip<br>Here!</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-7 mt-5">
      <agm-map [latitude]="Number(location.latitude)" [longitude]="Number(location.longitude)" [styles]="styles"
               [zoom]="10">
        <agm-marker [latitude]="Number(location.latitude)" [longitude]="Number(location.longitude)"></agm-marker>
      </agm-map>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
