.mat-button {
  margin-right: 8.1%;
  margin-top: 3%;
  float: right;
  padding: 10px 10px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.icon-display {
  transform: scale(1.5);
}

.img {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip-info-div {
  margin-left: 3%;
  display: inline;
  line-height: 1.7;
}

.editablefield {
  display: inline;
  padding: 0;
  font-family: "Madera Regular";
  font-size: larger;
}

.editablefield-date {
  display: inline;
  padding: 0;
  font-family: "Madera Regular";
  font-size: medium;
}

.static-info {
  display: inline;
  padding: 0;
  font-size: larger;
  font-family: "Madera W01 Bold";
}

.dynamic-info {
  display: inline;
  padding: 0;
  font-family: "Madera Regular";
  font-size: larger;
}

.dynamic-info-date {
  display: inline;
  padding: 0;
  font-family: "Madera Regular";
  font-size: medium;
}

.edit-mat-button {
  float: right;
  margin-top: 0.5%;
  color: #222136;
  margin-right: 2%;
  cursor: pointer;
}

.edit-mat-button:hover {
  transform: scale(1.25) perspective(1px);
}

.select {
  background-image: none;
  /*padding: 0 .5em;*/
  cursor: pointer;
  font-size: larger;
  font-family: "Madera Regular"
}
