<footer class="text-center text-white footer mt-5" style="background-color: #222136;">
  <div class="container pt-4">
    <section class="mb-4">
      <a class="btn btn-link btn-floating btn-lg text-white m-1"
         data-mdb-ripple-color="dark" href="#!" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn btn-link btn-floating btn-lg text-white m-1"
         data-mdb-ripple-color="dark" href="#!" role="button">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn btn-link btn-floating btn-lg text-white m-1"
         data-mdb-ripple-color="dark" href="#!" role="button">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn btn-link btn-floating btn-lg text-white m-1"
         data-mdb-ripple-color="dark" href="#!" role="button">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn btn-link btn-floating btn-lg text-white m-1"
         data-mdb-ripple-color="dark" href="#!" role="button">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="btn btn-link btn-floating btn-lg text-white m-1"
         data-mdb-ripple-color="dark" href="#!" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="#!">PackingPlans</a>
  </div>
</footer>
