<div class="toolbar" id="navbar">
  <mat-toolbar class="toolbar mat-elevation-z8 navbar-scroll">
    <img alt="Packing plans Logo" height="100%" routerLink="/home" src="../../../assets/images/logo.png"
         style="flex-shrink: 0; cursor: pointer" width=auto/>
    <span class="logoName">PackingPlans</span>
    <a class="mat-button" mat-button routerLink="/locations" style="margin-right: 1%; font-family: 'Madera Regular'">Locations</a>
    <a (click)="scrollToHowItWorks()"
       class="mat-button" mat-button style="font-family: 'Madera Regular'">How It Works
    </a>
    <a class="mat-button" mat-button routerLink="/calendar" *ngIf="isLoggedIn" style="font-family: 'Madera Regular'">Calendar</a>
    <span class="spacer"></span>
    <a (click)="openLoginDialog()" *ngIf="!isLoggedIn" class="mat-button" mat-button
       style="font-family: 'Madera Regular'">
      <mat-icon [ngStyle]="{'color':'white'}" class="icon-display">perm_identity</mat-icon>
      Log in
    </a>
    <span class="username" style="margin-right: 1%">{{username}}</span>
    <a (click)="logout()" *ngIf="isLoggedIn" class="mat-button" mat-button routerLink="/home">
      <mat-icon [ngStyle]="{'color':'white'}" class="icon-display">exit_to_app</mat-icon>
      Log out
    </a>
  </mat-toolbar>
</div>
