@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/*@import "mdb-angular-ui-kit/assets/scss/mdb.scss";*/
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-image: url("src/assets/images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
  margin-top: 23% !important;
}

.mdc-snackbar__surface {
  background-color: #8c8bcb !important;
  height: 120%;
}

.mat-mdc-button {
  color: #bebe58 !important;
}
