<div>
  <div class="main row">
    <div class="col-sm-3">
      <app-date-picker (selectedRangeValueChange)="onSelectedRangeChange($event)"
                       [selectedRangeValue]="selectedDateRange"
                       class="calendar"></app-date-picker>
    </div>
    <div class="col-sm-7 second">
      <div style="display: flex">
        <div class="day">{{datePipe.transform(selectedDay, 'EEEE')}}</div>
        <div class="spacer"></div>
        <div class="selector">
          <div class="select">
            <select [(ngModel)]="selectedDay" id="daySelect">
              <option *ngFor="let day of days" [value]="day">
                {{ day.getDate() }}/{{ day.getMonth() }}/{{ day.getFullYear() }}</option>
            </select>
          </div>
        </div>
      </div>
      <hr class="horizontal-line">

      <div>
        <h2 class="activities-title">Activities</h2>
        <ul class="activities-list">
          <li *ngFor="let activity of activities">
            <span class="arrow">&#8594;</span>
            &nbsp; {{ activity }}
          </li>
        </ul>
      </div>

      <a (click)="addActivity()" class="button1">Button</a>
    </div>
  </div>
</div>
