<mdb-carousel [animation]="'fade'" [interval]="6000" [pause]="false">
  <mdb-carousel-item>
    <img
      alt="..."
      class="d-block w-100"
      src="./assets/images/carousel1.jpg"
    />
    <div class="container">
      <div class="text">
        Can not wait for your next trip?
      </div>
      <div class="text">
        <button class="rounded-4 my-custom-button" mat-raised-button routerLink="/locations">Start planing now
        </button>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      alt="..."
      class="d-block w-100"
      src="./assets/images/carousel2.jpg"
    />
    <div class="container">
      <div class="text">
        Can not wait for your next trip?
      </div>
      <div class="text">
        <button class="rounded-4 my-custom-button" mat-raised-button routerLink="/locations">Start planing now
        </button>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      alt="..."
      class="d-block w-100"
      src="./assets/images/carousel3.jpg"
    />
    <div class="container">
      <div class="text">
        Can not wait for your next trip?
      </div>
      <div class="text">
        <button class="rounded-4 my-custom-button" mat-raised-button routerLink="/locations">Start planing now
        </button>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      alt="..."
      class="d-block w-100"
      src="./assets/images/carousel4.jpg"
    />
    <div class="container">
      <div class="text">
        Can not wait for your next trip?
      </div>
      <div class="text">
        <button class="rounded-4 my-custom-button" mat-raised-button routerLink="/locations">Start planing now
        </button>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      alt="..."
      class="d-block w-100"
      src="./assets/images/carousel5.jpg"
    />
    <div class="container">
      <div class="text">
        Can not wait for your next trip?
      </div>
      <div class="text">
        <button class="rounded-4 my-custom-button" mat-raised-button routerLink="/locations">Start planing now
        </button>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
