<div class="slider">
  <!--  to do add fade between slides [ngClass]="{'fade-in': currentIndex % 2 == 1, 'fade-out': currentIndex % 2 == 0}"-->
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <div
    [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
    class="slide"
  >
    <div class="container">
      <div class="text">
        Can not wait for your next trip?
      </div>
      <div class="text">
        <button class="rounded-4 my-custom-button" mat-raised-button>Start planing now
        </button>
      </div>

    </div>

  </div>
</div>
