<div class="slider">
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <div
    [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
    class="slide"
  >
    <div class="container">
      <div class="text">
        Ready for your next adventure?
      </div>
      <div class="text">
        <button class="rounded-4 my-custom-button" mat-raised-button>Start planing now
        </button>
      </div>

    </div>

  </div>
</div>
